// Body
$body-bg: linear-gradient(to bottom, #ffffff 0%, #b2c2cd 100%);


// Typography
$font-family-sans-serif: 'Stylish', sans-serif;

$font-family-Open-Sans: 'Open Sans', sans-serif;
$font-family-Roboto: 'Roboto', sans-serif;
$font-family-Stylish: 'Stylish', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light-grey:#f8fafc;
$form-background-color: #b4b4b4;
$bluestoune: #577284;